<br><br>
<div 
class="row center  red lighten-5" 
style="padding: 2em; border-radius: 1em;">
  <h1 class="header center pink-text">
    Bienvenido a SMILING
  </h1>
  <form autocomplete="off" action="/projects/list" method="post">
            <center><table width=85% border="1">
    <tr style="background-color: #c51162;">
    
        <td>Nombre</td>
        <td>Servicio Requerido</td>
        <td>Fecha de Servicio</td>
    </tr> 
</table></center>
            
            </form>
        </div>
    </div>
</div>