<br><br>
<div 
class="row center  red lighten-5" 
style="padding: 2em; border-radius: 1em;">
  <h1 class="header center pink-text">
    Bienvenido a SMILING
  </h1>
    <div id="container">
        <form autocomplete="off" action="/projects/login" method="post">
            <!-- Username -->
                    <input
                     type="name"
                     placeholder="Usuario"
                     />
            <!-- Password -->
            <br>
            <br>
                    <input
                     type="name"
                     placeholder="Contraseña"
                     />

                     <br><br>
            
                <button 
                type="submit"
                class="pink lighten-3 waves-effect waves-light btn">
                <a href="/projects/confirm">
                <i class="material-icons left">note_add</i>Ingresar
                </button></a>
        </form>       
    </div>