<br><br>
<div 
class="row center  red lighten-5" 
style="padding: 2em; border-radius: 1em;">
  <h1 class="header center pink-text">
    Bienvenido a SMILING
  </h1>
  <form autocomplete="off" action="/projects/service" method="post">
            <div class="card-image">
                <img src="/images/smiling.jpg" alt="Project image">
            </div>
            
            </form>
        </div>
    </div>
</div>