<br><br>
<div 
class="row center  red lighten-5" 
style="padding: 2em; border-radius: 1em;">
  <h1 class="header center pink-text">
    Bienvenido a SMILING
  </h1>
  <form autocomplete="off" action="/projects/service" method="post">
            <center><table width=85% border="1">
    <tr style="background-color: #d81b60;">
    
        <td>Concepto</td>
        <td>Importe Total</td>
    </tr>
    <tr>
    
        <td>Pulpotomías</td>
        <td>$40.00</td>
    </tr>

    <tr>
    
        <td>Profilaxis</td>
        <td>$15.00</td>
    </tr>

   

    <tr>
    
        <td>Extracción dental</td>
        <td>$150.00</td>
    </tr>

    <tr>
    
        <td>Colocación de brackets</td>
        <td>$3,500.00</td>
    </tr>

    <tr>
    
        <td>Cementación de corona</td>
        <td>$100.00</td>
    </tr>

    <tr>
    
        <td>Amalgamas</td>
        <td>$160.00</td>
    </tr>

    <tr>
    
        <td>Limpieza dental</td>
        <td>$200.00</td>
    </tr>

    <tr>
    
        <td>Endodoncia</td>
        <td>$350.00</td>
    </tr>  
</table></center>
            
            </form>
        </div>
    </div>
</div>