<li>
  <a href="/projects">
    <i class="large material-icons" style="margin: 2px;">
      event
    </i>
    Citas Pendientes
  </a>
</li>
<li class="divider"></li>
<li>
  <a href="/projects/add">
    <i class="large material-icons" style="margin: 2px;">
      edit
    </i>
    Agendar Cita
  </a>

  <a href="/projects/service">
    <i class="large material-icons" style="margin: 2px;">
      live_help
    </i>
    Consultar Servicios
  </a>

  <a href="/projects/login">
    <i class="large material-icons" style="margin: 2px;">
      person
    </i>
    Iniciar Sesión 
  </a>
</li>