<li>
  <a href="/projects">
    <i class="large material-icons" style="margin: 2px;">
      list
    </i>
    Citas Pendientes
  </a>
</li>
<li class="divider"></li>
<li>
  <a href="/projects/add">
    <i class="large material-icons" style="margin: 2px;">
      add_box
    </i>
    Agendar Cita
  </a>

  <a href="/projects/service">
    <i class="large material-icons" style="margin: 2px;">
      add_box
    </i>
    Consultar Servicios
  </a>

  <a href="/projects/list">
    <i class="large material-icons" style="margin: 2px;">
      add_box
    </i>
    Listado Consultas 
  </a>
</li>