<br><br>
<div 
class="row center  red lighten-5" 
style="padding: 2em; border-radius: 1em;">
  <h1 class="header center pink-text">
    Bienvenido a SMILING
  </h1>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
      En Smiling® queremos verte feliz, por ello contamos con
       diferentes tratamientos que se adaptan perfecto a tus necesidades,
    estilo de vida y presupuesto.
    </h5>
  </div>
  <div class="row center">
    <a href="/projects/add" 
    class="btn-large waves-effect  pink darken-2">
    Agenda una cita</a>
  </div>
</div>